button, input[type="submit"], input[type="reset"] {


	border: none;


	
}



button:hover {
  background-color: rgb(101, 124, 253) ;
}


.App {
  text-align: center;
  
}
body {
  background: rgb(28, 28, 40);
  overscroll-behavior-y: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header */
.Header{
  display: flex;
  height: 48px;
  flex-direction: row;
  
  justify-content: space-between;
  align-content:center;
  align-items: center;
  
  border-bottom: 1px solid rgb(45, 45, 61);

}

/* Within Header */
.connectToWalletModule{
  justify-self: flex-end;
  margin-right: 20px;
  


}
.buttonColor{
  background-color: rgb(89, 115, 254);
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  

}

.AppName{

  justify-self: flex-start;
  margin-left: 20px;
  color: rgb(111, 110, 132);
  display: flex;
  height: 48px;
  flex-direction: row;
  
  justify-content: space-between;
  align-content:center;
  align-items: center;
  
}


.ImageLogo {
  width: 30px;
}

.MenuOptions {
  padding-left: 10px;
  padding-right: 10px;
  transition: all .15s ease-in-out!important;
}
.MenuOptions:hover {
  color:rgb(247, 247, 247);
  background-color: rgb(18, 18, 26);
  border-radius: 5px;
  
  padding-top: 8px;
  padding-bottom: 8px;

}

.FlexBox{
  display: flex;
  flex-direction: row;
  align-content:center;
  align-items: center;
}

.Account{
  justify-self: flex-start;
  color: rgb(111, 110, 132);
  display: flex;
  
  min-width: 370px;
  
  flex-direction: column;
  border-right: 1px solid rgb(45, 45, 61);
  justify-content: left;
  align-self: stretch;


  align-content:center;
  align-items: center;
}

.MarketsPage{
  background-image: url("bggrid.svg");
  background-color: rgb(23, 23, 34);
  background-size: contain, cover;
 
 
  
  display: flex;
  
  flex-direction: row;
  justify-content: left;
  align-content:left;
  flex-wrap: wrap;
  align-items: left;
  height: calc(100vh - 49px);
  overflow-y: scroll;
}

.IndividualMarketPage{
  background-image: url("bggrid.svg");
  background-color: rgb(23, 23, 34);
  background-size: contain, cover;
 
 
  
  display: flex;
  
  flex-direction: column;
  justify-content: left;
  align-content:left;

  align-items: left;
  width: calc(100vw -  370px);
  height: calc(100vh - 49px);
  overflow-y: scroll;

}

.MarketImg {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 20%;
  padding:15px
}

.UserMarketImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 15%;
  padding: 5px;
}

.UserInfo{
  color: rgb(111, 110, 132);
  background-image: url("chart-background.png");
  background-color: rgb(23, 23, 34);

  border-radius: 5px;
  width: 300px;
  border: 1px solid rgb(45, 45, 61);
  min-height: 300px;
  

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content:left;
  align-items: left;
  
}

.BuyMenuOutside{
  color: rgb(111, 110, 132);
  background-image: url("chart-background.png");
  background-color: rgb(23, 23, 34);

  border-radius: 5px;
  width: 300px;
  border: 1px solid rgb(45, 45, 61);
  height: 364px;
  

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content:left;
  align-items: left;
  
}
.YourMarkets{
  color: rgb(111, 110, 132);
  background-image: url("chart-background.png");
  background-color: rgb(23, 23, 34);

  border-radius: 5px;
  width: 300px;
  border: 1px solid rgb(45, 45, 61);
  height: calc(100vh - 400px);
  

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content:left;
  align-items: left;
  overflow-y: scroll;
}

.MarketInfo{
  color:rgb(219, 219, 219);
  background-image: url("chart-background.png");
  background-color: rgb(23, 23, 34);
  border-radius: 5px;
  width: 300px;
  border: 1px solid rgb(45, 45, 61);
  min-height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.YourMarketInfo{
  color: rgb(111, 110, 132);
  background-image: url("chart-background.png");
  background-color: rgb(23, 23, 34);
  border-radius: 5px;
  width: 450px;
  border: 1px solid rgb(45, 45, 61);
  min-height: 50px;
  text-align: left;

  font-size: 12px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MarketInfo:hover{
  background-color: rgb(41, 41, 58);
  cursor: pointer;
}

.MarketInfoFlexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TopMarket{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: flex-start;
  
}

.BottomMarket{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: flex-start;
  margin:	0% 0% 0% 0%;
  padding: 0;
 
  color: rgb(111, 110, 132);
}
.BottomMarketFlex{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 120px;
  margin-right: 15px;
  margin-left: 15px;
  color: rgb(111, 110, 132);
}

.balances{
  font-size: calc(25px);
  color: rgb(247, 247, 247);
}

.Menu{

}

.FlexBoxMarkets{
  display: flex;
  flex-direction: row;
  align-content:center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:18px;
}




.MarketText{
  text-align: left;
  display: flex;
 
  flex-direction: row;
  color: aliceblue;
  
  justify-content: flex-start;
  align-content:center;
  align-items: center;
 
}

.MarketHeader{
  display: flex;
  height: 60px;
  flex-direction: row;
  color: aliceblue;
  
  justify-content: flex-start;
  align-content:center;
  align-items: center;
  
  overflow-x: scroll;
  border-bottom: 1px solid rgb(45, 45, 61);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  padding-left:20px;
}

.MarketHeaderInfo{
  display: flex;
  height: 60px;
  flex-direction: row;
  color: rgb(111, 110, 132);
  background-color: rgb(28, 28, 40);
  
  justify-content: flex-start;
  align-content:center;
  align-items: center;
  
  overflow-x: scroll;
  border-bottom: 1px solid rgb(45, 45, 61);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  padding-left:20px;
}

.MarketHeaderText{
  font-size: 14px;
  padding-right: 20px;
  text-align: left;
  display: flex;
 
  flex-direction: column;
 
  
  justify-content: flex-start;
  align-content:center;
  align-items: center;
}
.flexContainsBuyAndGraph{
  text-align: left;
  display: flex;
 
  flex-direction: row;
  color: aliceblue;
  
  justify-content: flex-start;
  align-content:center;
  align-items: center;
}

.BuyMenu{
  background-color: rgb(28, 28, 40);
  justify-self: flex-start;
  color: rgb(111, 110, 132);
  display: flex;
  
  min-width: 370px;
  
  flex-direction: column;
  border-right: 1px solid rgb(45, 45, 61);
  justify-content: center;
  align-self: stretch;


  align-content:center;
  align-items: center;
}

.Chart{
  align-self: stretch;
  justify-content: stretch;
  height: 400px;
  flex-grow: 1;

}

.MarketFooter{
  background-color: rgb(28, 28, 40);
  justify-self: flex-start;
  color: rgb(111, 110, 132);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: stretch;
  align-content: center;
  align-items: left;
  align-self: stretch;
  justify-content: stretch;
  height: 500px;
  flex-grow: 1;
  background-color: rgb(28, 28, 40);
  border-top: 1px solid rgb(45, 45, 61);

}

.BuySellButton{    
  font-weight: 500;
  -webkit-font-feature-settings: "zero" 0;
  font-feature-settings: "zero" 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  position: relative;
  height: 40px;
  width: 80%;
  margin-top: 18px;
  align-self: center;
  cursor: pointer;

}

.ActualButton{
  font-size: 14px;
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #6f6e84;
    transition: border 0.2s ease-in-out;
    border: 2px solid #171722;
    background-color: rgb(28, 28, 40);
    border-radius: 5px;
    flex-direction: column;
}

.Amount{
  text-align: center;
  padding: 18px;
  font-size: 12px;
  color: antiquewhite;
}

.InputBoxFlex{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Relative Mono;
  font-weight: 400;
  -webkit-font-feature-settings: "zero" 1;
  font-feature-settings: "zero" 1;

  padding: 0;
  min-height: 40px;
  justify-content: center;
  color: white;
  border: 2px solid #171722;
}

.InputBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Relative Mono;
  font-weight: 400;
  -webkit-font-feature-settings: "zero" 1;
  font-feature-settings: "zero" 1;
  background-color: #232334;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 35px;
  justify-content: center;
  color: white;
  border: 2px solid #171722;
  border-radius: 5px;
  font-family: Relative Mono;
  font-size: 16px;

  font-weight: 400;
    -webkit-font-feature-settings: "zero" 1;
    font-feature-settings: "zero" 1;
}

.ConfirmBox{
align-self: center;
display: flex;
flex-direction: column;
justify-content: left;  
text-align: left;
width: 235px;


}
.ConfirmBoxTextFlex{
align-self: center;
display: flex;
flex-direction: column;
justify-content: left;  
text-align: left;
margin-top: 8px;

}

.ConfirmBoxText{
  font-size: 12px;
  color: antiquewhite;
  
  padding-top: 3px;
  padding-bottom: 3px;
}

.ConfirmBoxButton{
  background-color: rgb(89, 115, 254);
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  align-self: center;
  margin-top: 10px;
}

.ConfirmBoxFlexRow{ 
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-content:center;
  align-items: center;

}

.ConfirmBoxplaceHolder{
  padding-right: 5px;
}

.PositionMenu{
  color: rgb(111, 110, 132);
  background-image: url("chart-background.png");
  background-color: rgb(23, 23, 34);

  border-radius: 5px;
  align-self: stretch;
  border: 1px solid rgb(45, 45, 61);
  height: 364px;
  margin-inline: 35px;

  

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content:left;
  align-items: left;
}